<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, "Nombre(s)" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Apellidos" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :birthdate, "Fecha de nacimiento" %><br>
    <%= f.date_select :birthdate %>
  </div>
  <div class="field">
    <%= f.label :control_number, "Número de control" %><br>
    <%= f.text_field :control_number %>
  </div>
  <div class="field">
    <%= f.label :semester, "Semestre" %><br>
    <%= f.number_field :semester %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
