<p id="notice"><%= notice %></p>

<h1>Lista de estudiantes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre(s)</th>
      <th>Apellidos</th>
      <th>Fecha de nacimiento</th>
      <th>Numero de control</th>
      <th>Semestre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.birthdate %></td>
        <td><%= student.control_number %></td>
        <td><%= student.semester %></td>
        <td><%= link_to 'Ver', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Borrar', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo estudiante', new_student_path %>
